name: Create README.md File
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm run dev:readme  
    - uses: ad-m/github-push-action@master
    - name: Push changes
    - with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "updated file with GitHub Actions" -a
    - env:
        CI: true
